<% if @sent %>
<script>
$.notification('Thank you for contacting me!', {
			className: 'jquery-notification',
			duration: 2000,
			freezeOnHover: false,
			hideSpeed: 250,
			position: 'top-right',
			showSpeed: 250,
			zIndex: 99999
		});
</script>
<% end %>


<!-- Wrapper --><div id="wrapper">
	<!-- Vcard --><div id="vcard">
		<div class="clearpx"></div>


<!-- Header -->
   <div id="header">

   
			
			<div style="float:left; position:absolute; top: 57px; 
		    left: 47px;">

		    <h1> Cole Diamond</h1>

		    </div>
		<ul id="menu">
			<li class="active"><a href="#home">Home</a></li>
			<li><a href="#skills">Software</a></li>
			<li><a href="#hardware">Hardware</a></li>
			<li><a href="#education">Education</a></li>
   			<li><a href="#work">Work</a></li>
			<li><a href="#networks">Networks</a></li>
   			<li><a href="#contact">Contact</a></li>
		</ul>

	</div><!-- End Header -->

	<hr/>

		<!-- Content --><div id="content">

<!-- Scroller -->
   <div id="scroller">
	<!-- Menu Home -->
	<div id="menu_home" class="contentitem">
		<div class="main">
			<div class="pagetitle">Cole Diamond - Welcome</div>
   
	<p>
				<iframe width="350" height="220" src="http://www.youtube.com/embed/VBOKFAnVjas?autoplay=1" frameborder="0" allowfullscreen style="float:right;"></iframe>
</p>
	

<!-- 	
<span style="float:right; text-size:9px;">
Hailing from Great Neck, New York, Cole Diamond is alumnus of Columbia Engineering where he majored in Computer Science and minored in Economics. A former member of the <a href="http://www.dormroomfund.com/about" target="_blank">Dorm Room Fund</a> and <a href="http://apply.hackny.org" target="_blank">HackNY Fellow</a> (Class of 2011), Cole is passionate about technological entrepreneurship. Currently, Cole is a Program Manager at Microsoft.</span> -->
			
			
		
			</div>

	<div class="sidebar">
		<h2>About Me</h2>

		<a rel="fancybox" title="Cole Diamond" href="<%= asset_path("profile_picture.jpg") %>" ><%= image_tag "profile_picture.jpg", :width => "80", :height=>"80", :rel =>"tipsy", :title => "Cole Diamond" %></a>
			<ul style="font-size:10px; width:300px;">
				<li>Columbia Engineering, 2013</li>
				
				<li><a href="http://apply.hackny.org" target="_blank">HackNY Fellow</a> (2011)</li>
				<li><a href="http://www.dormroomfund.com/about" target="_blank">Dorm Room Fund</a> (2013)<br/>
				<li>Program Manager, Microsoft</li>
			</ul>

		<hr class="spacer"/>

				<a class="button pull-right" style="position:relative; bottom: 15px;" href="http://colediamond.wordpress.com" target="_blank">Blog</a>
	
		</div>
	</div><!-- End Menu Home -->

		<!-- Menu Networks --><div id="menu_hardware" class="contentitem">
		<div class="pagetitle">Cole Diamond - Hardware Projects</div>
		<h1>Hardware Hacks</h1>

			<p class="networks">
				<a href="http://www.youtube.com/watch?v=Mx68w5JVB4g" target="_blank"><span class="background"></span><span class="content"><%= image_tag "prettyPhoto/default/default_thumb.png" %><span class="title" ><span class="sname">&nbsp; Fingerprint Credit Card Reader</span><span class="surl"><br/></span></span></span></a><br/><br/><br/>
				<a href="http://www.youtube.com/watch?v=W3g_rOZ9jno" target="_blank"><span class="background"></span><span class="content"><%= image_tag "prettyPhoto/default/default_thumb.png" %><span class="title"><span class="sname">&nbsp; Speech-to-Text Wearable Glasses</span><span class="surl"><br/></span></span></span></a><br/><br/><br/>
				<a href="http://www.youtube.com/watch?v=P3Lkn3tCQtg" target="_blank"><span class="background"></span><span class="content"><%= image_tag "prettyPhoto/default/default_thumb.png" %><span class="title"><span class="sname">&nbsp; Dorm Room Automation</span><span class="surl"><br/></span></span></span></a>
				<br/>
				<a class="pull-right" style="float:right; position:relative; bottom: 162px;" href="http://www.youtube.com/watch?v=MqkalxyNxhw" target="_blank"><span class="background"></span><span class="content"><%= image_tag "prettyPhoto/default/default_thumb.png" %><span class="title"><span class="sname">&nbsp; Weight Deactivated Alarm Clock</span><span class="surl"><br/></span></span></span></a>
			</p>
		
		</div><!-- End Menu Networks -->

	




	

	<div id="menu_education" class="contentitem">
			<div class="pagetitle">Cole Diamond - Education</div>
				<div class="main">
		<h1>Curriculum Vitae</h1>
			<ul class="skills" special>
				<li><span class="topic">Columbia University (2009-2013)</span>
				BS, Computer Science, Economics Minor (3.7/4.0) </li>
				<li><span class="topic">John L Miller Great Neck North High School</span><a href="http://www.antonnews.com/greatneckrecord/news/1261-the-class-of-2009honors-and-awards-.html" target="_blank" no_underline>Valedictorian of the Class of 2009</a></li>
				<li><span class="topic">Distinctions</span>HackNY Fellow, National AP Scholar, 2360/2400 SAT <span style="margin-top: 5px; position:relative; left:159px;"> Deans List (All Semesters), President of ACM at Columbia</span></li>
			</ul>
				</div>
				<div class="sidebar" style="margin-bottom:0px; padding:0px; font-size:10px;">

					<h2 style="margin-bottom:3px; margin-top:0px; padding:0px;">Relevant Coursework</h2>
						
						<div id="myCanvasContainer">
 							<canvas width="150" height="250" id="myCanvas">
						  		<p>Anything in here will be replaced on browsers that support the canvas element</p>
							  	<ul>
									<li><a>Machine Learning</a></li>
    								<li><a>Artificial Intelligence</a></li>
    								<li><a>Quantum Computing</a></li>
    								<li><a>Advanced Programming</a></li>
    								<li><a>Compilers</a></li>
    								<li><a>Computer Networks</a></li>
    								<li><a>Computational Robotics</a></li>
    								<li><a>Introduction to Databases</a></li>
    								<li><a>Physics: Mechanics and E&M</a></li>
    								<li><a>Multivariable Calculus</a></li>
    								<li><a>Discrete Mathematics</a></li>
    								<li><a>Natural Language Processing</a></li>
    								<li><a>Introduction to Accounting and Finance</a></li>
    								<li><a>Macroeconomics</a></li>
    								<li><a>Microeconomics</a></li>
    								<li><a>Scientific Computation</a></li>
    								<li><a>Computational Linear Algebra</a></li>
    								<li><a>User Interface Design</a></li>
    								<li><a>Introduction to Statistics and Probability</a></li>
    								<li><a>General Chemistry</a></li>
    								<li><a>Introduction to Electrical Engineering</a></li>
    								<li><a>Calculus I-IV</a></li>
    								<li><a>Computer Vision</a></li>
    								<li><a>Financial Economics</a></li>
    								<li><a>Econometrics </a></li>
							  	</ul>
						 	</canvas>
						</div>
	
						<!-- <ul style="margin-top:8px;">	
						<li class="li-moreinfo" style="padding:0px;">
							<p class="nopadding">
						<span style="margin-bottom:8px;">	<span style="font-weight:bold;">Mathematics</span>Calculus I-V, Discrete Math, Linear Algebra
							Scientific Computation</span>
						<span style="margin-bottom:5px;"><span style="font-weight:bold;">Computer Science</span>Intro to Java, Object Oriented Programming, Data Structures, CS Theory, Advanced Programming, Robotics, Databases </span>
						<span style="margin-bottom:8px;"><span style="font-weight:bold;">Economics</span>Principles of Economics, Microeconomics, Macroeconomics,
							Accounting and Finance <br/>
							</p>
							                                                                      
						</li>
						</ul> -->
					</div>
			
			
				
	 </div>

	<div id="menu_skills" class="contentitem">
			<div class="pagetitle">Cole Diamond - Software Skills</div>
				<div class="main">
		<h1>Programming Skills</h1>
			<ul class="skills">
				<li><span class="topic">Proficiency (4 years +)</span>Java 6.0, Ruby, HTML/CSS/JQuery &amp; SQL </li>
				<li><span class="topic">Experience (3 years +)</span>Perl, Python,  C/C++ &amp; GitHub</li>
				<li><span class="topic">In training (1 year)</span>JSP, PHP, MongoDB &amp; PostgreSQL</li>
				<li><span class="topic">Frameworks</span> Django and Ruby on Rails (2.3, 3.0, 3.1), 3 years</li>
			</ul>
				</div>

		<div class="sidebar">

		<h2 style="margin-bottom:3px;">Websites Created</h2>
			<ul style="margin-top:3px;">	
			<li class="li-moreinfo">
				<p class="nopadding" sites >
					
					<a href="http://stakd.herokuapp.com" target="_blank" site="stakd" description="Stakd is a dynamic listing tool
					 		that exposes similarities and differences between you and your peers.">Stakd</a><br/>
						<b>Stack anything <a href="http://bit.ly/Sr2stP">(video demo)</a></b> 
					<br/><br/>
					
					 <a href="http://www.greekgavel.com" target="_blank" site="greekgavel" description="<br/>A social networking site for fraternities and sororities to consolidate greek life on all fronts - the individual chapter, the larger organization and greek life at large for a university. The site offers a directory of all members of the organization, networking opportunities, a bulletin board for quick announcements, a gallery, a personal message utility and a forum." >GreekGavel</a><br/>
					<b>A Social Network for Fraternities <a href="http://www.youtube.com/watch?v=ph24Qw5m93g">(video demo)</a></b>
					<br/><br/>
					 <a href="http://www.matchu.me" target="_blank" site="matchume" description="Columbia's digital wingman. Anonymously find out whether your love is reciprocated. If it is - then you will have a new match. Otherwise, your romantic interest will stay anonymous. Features a 'secret admirer' utility, most matchable feed, private message forum with image/video embedding and multiple ajax widgets.">MatchU.Me</a><br/>
						<b>Find Your Match, 100% Anonymously</b>
					<br/><br/>
					<a href="http://www.mealmecca.com" target="_blank" site="mealmecca" description="Leverages HTML 5's geolocation tool to determine your location and then feeds the zip code into Yelp. Yelp returns a list of restaurants in the specified location and I either add the restaurant to my database or fetch it. The basic idea is to find out *what* to order... not just *where* to order.">MealMecca</a><br/>
						<b>Rate Menus, Not Restaurants</b> 
					<br/> 					<br/>    
					
					                                                                                  
				</p>	
			</li>
			</ul>
		</div>
	</div><!-- Menu Work -->

		<div id="menu_work" class="contentitem">
			<div class="pagetitle">Cole Diamond - Experience</div>

					<div class="main" style="margin-right: 0px; width: 70%;">
			<h1>Work experience</h1>
			  <ul class="skills">
								<li><span class="topic">BlackRock </span><br/><p>Portfolio Analytics Group Intern New York, NY (05/2012 - 08/2012) </p></li>
				<li><span class="topic">Gilt Groupe </span><br/><p>Software Engineer Intern New York, NY (05/2011 - 08/2011) </p></li>
				<li><span class="topic">JP Morgan Chase</span><br/><p><%= "risk management intern".titleize() %>  (06/2010 - 08/2010)</p></li>
			    <li><span class="topic">Columbia University </span><br/><p> <%= "research assistant: machine learning".titleize %> (06/2009 - 08/2009)</p></li>
			  </ul>
		</div>
					
		<div class="sidebar">
				<h2 class="link" style="cursor:pointer;" onclick="window.location='<%= asset_path "resume.pdf" %>';" >Download Resume</a></h2>
				<ul>
				<li class="li-moreinfo">
				<p class="nopadding">
			
				<ul class="thumb">
					<a  href="<%= asset_path "resume_pic.png" %>" rel="resume" ><%= image_tag "resume_pic.png", :height => "153px", :width => "135px;", :style => "position:absolute; z-index:1000;", :title => "Click to Preview" %></a>
					</li>
				</ul>
				</p>
				</li>
				</ul>
		</div>
	</div><!-- End menu work -->


		<!-- Menu Networks --><div id="menu_networks" class="contentitem">
			<div class="pagetitle">Cole Diamond - Networks</div>
		<h1>Let's connect...</h1>

			<ul class="networks">
				<li><a href="http://www.facebook.com/coleidiamond" target="_blank"><span class="background"></span><span class="content"><%= image_tag "networks/facebook.png", :alt => "facebook" %><span class="title"><span class="sname">Facebook</span><span class="surl"><br/>facebook.com/coleidiamond</span></span></span></a></li>
				<li><a href="http://twitter.com/#!/coal_diamond" target="_blank"><span class="background"></span><span class="content"><%= image_tag "networks/twitter.png", :alt => "twitter" %><span class="title"><span class="sname">Twitter</span><span class="surl"><br/>@coal_diamond</span></span></span></a></li>
				<li><a href="http://www.linkedin.com/in/colediamond" target="_blank"><span class="background"></span><span class="content"><%= image_tag "networks/linkedin.png", :alt=>"linkedin"%><span class="title"><span class="sname">LinkedIn</span><span class="surl"><br/>linkedin.com/in/colediamond</span></span></span></a></li>
			</ul>
			</div><!-- End Menu Networks -->


		<!-- Menu Contact -->
		<div id="menu_contact" class="contentitem">
			<div class="pagetitle">Cole Diamond - Contact</div>
				<div class="main contact">

		<h1>Contact</h1>
	
		<div id="email_form">
			<p style="padding:4px 9px 0 0;">10301 NE 10th Street, Apt 1455
			 <br/>Bellevue WA 98004<br/>United States<br/><br/>Cell: +516 996 7037<br/>Email: <a href="mailto:cole.ian.diamond@gmail.com">cole.ian.diamond@gmail.com</a><br/></p>
		</div>
			<!-- <div id="email_form">
				<form method="post">
				
				<div style="float:right;">
				<input type="text" name="email" value="email"/>
				<textarea name="message" rows="4" cols="4">message</textarea>
				</div>
				<input type="submit" class="sendbutton sendmail" value="send"/>
				</form>
			</div>

			
					<div id="email_send">
						<h2>Your email has been sent!</h2>
						<p>I'll get back to you as soon as possible.<br/>In the meanwhile check out my <a href="#networks">social network profiles</a>.</p>
					</div>
				</div>
 -->
				<div class="sidebar">	
				<hr class="spacer" />
					<a class="button" href="<%= asset_path("Cole_Ian_Diamond.vcf")%>">Download Contact</a>
				</div>
		</div>
	</div><!-- End Menu Contact -->
	</div><!-- End Scroller -->
	</div><!-- End Content -->
	</div><!-- End Vcard -->
	</div><!-- End Wrapper -->
	
	    <script type="text/javascript">
		$(document).ready(function()
		{
			$("[rel='resume']").fancybox({
					'transitionIn'	:	'elastic',
					'transitionOut'	:	'elastic',
					'speedIn'		:	600, 
					'speedOut'		:	200, 
					'overlayShow'	:	false
			}).find("img").tipsy({fade: true, gravity: 's'})
			
			
   			if( ! $('#myCanvas').tagcanvas({
     			textColour : '#08f',
     			outlineThickness : .5,
     			maxSpeed : 0.3,
     			wheelZoom : false,
     			textHeight: 8,
     			shape: "hcylinder",
     			depth : 0.50,
     			txtScale: 5,
     			zoom: .9,
     			radiusX: .8,
     			radiusY: 4
   				})) {
     			// TagCanvas failed to load
     			$('#myCanvasContainer').hide();
   			}
 

			$("[rel*='tipsy']").tipsy({fade:true, gravity:'s'});
			
			$("[rel*='fancybox']").fancybox();
			
			$("a[site], [no_underline]").css("text-decoration", "none");
			
			$("h2.link, a[site], [no_underline]").hover(function (){
			        $(this).css("text-decoration", "underline");
			    },function(){
			        $(this).css("text-decoration", "none");
			    }
			);
			

 		   var apiKey = 'ReuyKzSZUUjL';

		    // Notice the use of the each method to gain access to each element individually
		    $('a[site]').each(function()
		    {
		        // Grab the URL from our link
		        var url = "assets/" +  $(this).attr('site') + ".png";
		
		        // Create image thumbnail using Websnapr thumbnail service
				thumbnail = "<img alt='Loading thumbnail' width='202px;' height='152px;' src='" + url + "'>" + $(this).attr('description'); 
		        // Setup the tooltip with the content
		        $(this).qtip(
		        {
		            content: thumbnail,
		            position: {
		                corner: {
		                    tooltip: 'bottomMiddle',
		                    target: 'topMiddle'
		                }
		            },
		            style: {
		                tip: true, // Give it a speech bubble tip with automatic corner detection
					    border: {
					         radius: 8,
					         color: '#777'
					      },
						name: 'light'
		            }
		        });
		    });


		});

	    </script>
	

